title: Kenya MMF Calculator
description: Tools and guides for money market funds and personal finance in Kenya.
url: https://kenyammfcalculator.co.ke
baseurl: ""
markdown: kramdown

kramdown:
  input: GFM
  hard_wrap: false
